* {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

:root {
  --c-body-bg: #E5E5E5;;
  --c-section-bg: #FFFFFF;
  --c-btn-text: #FFFFFF;
  --c-square-bg: #1FC2AE;  
}
body {
  background-color: var(--c-body-bg);
  font-family: 'ABeeZee', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.dark-theme {
  --c-body-bg: #000000;
  --c-section-bg: #292929;
  --c-square-bg: #18D5E1;  
}


.square {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
  background-color: var(--c-square-bg);
}
.square--aqua-blue {
  background-color: #017187;
}
.square--violet {
  background-color: #5C0187;
}
.square--red {
  background-color: #871101;
}
.square--green {
  background-color: #01870E;
}
.square--yelow {
  background-color: #E2CF22;
}
.square--blue-dark {
  background-color: #011E87;
}
.square--turquoise {
  background-color: #18D5E1;
}
.square--invisible {
  background-color: transparent;
}
.square__text {
  font-weight: 400;
  font-size: 56px;
  color: #000000;
  text-transform: uppercase;
}

.button {
  padding: 20px 40px;
  color: var(--c-btn-text);
  font-size: 1.25rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: opacitiy 0.2s;
  
  &:hover {
    opacity: 0.6;
  }
}
.button--aqua-blue {
  background-color: #017187;
}
.button--violet {
  background-color: #5C0187 ;
}
.button--red {
  background-color: #871101 ;
}
.button--green {
  background-color: #01870E ;
}
.button--yelow {
  background-color: #E2CF22;
}
.button--blue-dark {
  background-color: #011E87;
}
.button--turquoise {
  background-color: #18D5E1;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 50px; 
  background-color: var(--c-section-bg);
  padding: 50px 40px;
}
.header {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.hero {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 100px;
  row-gap: 90px;
  justify-items: center;
}
.footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}
.input {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.input__field {
  padding: 13px 15px 15px;
  border: 2px solid #E5E7EB;
  border-radius: 6px;
  font-size: 0.875rem;
  color: #000000;
  box-sizing: border-box;
  max-width: 200px;
    
  &::placeholder {
    color: #9CA3AF;
  }
  &:focus{
    outline: solid 1px rgb(116, 115, 115);
    background-color: var(--input-focus-bg);
  }
}
.input_ap-text {
  font-size: 1rem;
}
